*{
    box-sizing: border-box;

}
div {
    border: 3px solid blue;
    overflow: auto;
}
img{
    width: 30%;
    float:left;
    margin: 30px;
    /* border: 1px solid red; */
}
h1 {
    font-size: 400%;
    text-align: left;
    margin: 30px ;
    width: auto;
    /* border: 1px solid green; */
}
p {
    font-size: 200%;    
    width: auto;
    margin: 30px;
    text-align: justify;
    /* border: 1px solid red; */
}